src/numpy_deomo/__pycache__/
src/numpy_deomo/py_model/__pycache__/
src/tensorFlow_demo/__pycache__/
src/tensorFlow_demo/py_model/__pycache__/
.vscode/settings.json
src/tensorFlow_demo/tutorials/__pycache__/
src/tensorFlow_demo/tutorials/mnist/__pycache__/
dist/app.rar
手写数字识别项目文档.pdf
